
@media (min-width: 769px){
    #busqueda{
        background-image: none;
        
}
.resu{
    margin-top: 15%;
}
#resu{
    margin-top: 10%;
    margin-bottom: 15%;
}
.listo{
    margin-top: 5%;

}
}