/*Fuente y Fondo*/
.carrito {
    background-color: var(--fondo);
    font-family: var(--tipografia-principal);
}

/*Sector de productos y Resumen*/
.carrito .producto-y-resumen {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}


/*Sector Productos*/
.carrito article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.carrito .producto-y-resumen .producto .imagenes {
    width: 400px;
}

.carrito .a単adir-elementos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.carrito .detail {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.carrito .a単adir-elementos .agregar {
    background-color: gray;
    color: white;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    margin: 0px 3px;
    border-radius: 5px;
}

.carrito .a単adir-elementos input {
    width: 25px;
    border: none;
    border-radius: 5px;
    text-align: center;
}

.carrito .a単adir-elementos .restar {
    background-color: gray;
    color: white;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    margin: 0px 3px;
    border-radius: 5px;
}

.carrito section article h3 {
    text-decoration-style: var(--tipografia-principal);
    width: min-content;
    font-size: 1rem;
    margin-bottom: 10px;
}

.carrito section .prod-rec h3 {
    text-decoration-style: var(--tipografia-principal);
    width: 100%;
    font-size: 1rem;
    margin-bottom: 10px;
}

.carrito section .producto {
    background-color: white;
    display: flex;
    width: 90%;
    margin-bottom: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.carrito section article .imagenes img {
    width: 33%;
}

.carrito section article .imagenes {
    width: 30%;
}

.carrito .producto .borrar{
   margin-bottom: auto;
}
.carrito .producto .precio-descuento{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*Sector Resumen*/
.resume {
    flex: 25%;
    padding: 20px;
    border-radius: 5px;
    background: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all .6s ease;
    width: 90%;
}

.resume:hover {
    border: none;
    transform: scale(1.01);
}

.resume hr {
    margin-bottom: 25px;
}

.resume p {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    font-size: 20px;
}

.resume .button {
    background-color: #76bfb6;
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-weight: 900;
}

.resume .button:hover {
    background-color: var(--azul);
}

.resume a {
    background-color: var(--azul);
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-weight: 900;
}

.resume i {
    margin-right: 15px;
}

.resume a:hover {
    background-color: var(--verde);
}

/*Movil*/
@media (max-width: 767.99px) {
    .carrito .producto-y-resumen {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
}

/*Fin Movil*/

/*Tablet*/
@media (min-width: 767.99px) and (max-width: 1023px) {
    .carrito .producto-y-resumen {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
}

/*Fin Tablet*/

/*Escritorio*/
@media (min-width: 1024px) {
    .carrito .producto-y-resumen {
        display: flex;
        align-items: flex-start;
    }
}

/*Fin escritorio*/