
 .detalle .detalleproducto{
    margin-top: 10%;
 }
 .detalle .imgproductodetalle{
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
 }
 .detalle .imgextra{
    
    display: flex;
    justify-content: center;
 }
 .detalle .detalle{
    margin: 6% 5%;
 }
 .detalle .detalleproducto .ordendes .descripciondetalle {
    margin: 15px;
 }
 .detalle .detalleproducto .ordendes .descripciondetalle h4 {
    margin-top: 15px;
    font-size: large;
 }
 .detalle .detalleproducto .ordendes .descripciondetalle .precio{
    
    font-size: 2em;
 }
 .detalle .detalleproducto .imgproductodetalle img{
    width: 200px;
    height: 200px;
    box-shadow: -2px 4px 29px 0px rgb(156, 155, 156);
 }
 .detalle .detalleproducto .imgextra img{
    width: 20vw;
    height: 20vw;
    margin: 1%;

 }
 .detalle .interesar{
    margin: 10%;
 }
 .detalle .interesar article .glider-contain .glider {
    margin: 2%;
    
}
.detalle .interesar .recomendado .otrosproductos{
    margin: 3%;
    
}
.detalle .interesar .recomendado .otrosproductos img{
   
    height: 100%;
    width: 150px;
    
}
.detalle .compra{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

} 
.detalle .compra h4{
    margin: auto;
    margin-bottom: 20px;
    font-size: 1.5em;
}
.detalle .compra .cantidad{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--azul);
    height: 60px;
    width: 220px;
    margin: auto;
    border-radius:8%;
}
.detalle .cantidad form input{
    width: 30px;
    height: 30px;
}
.detalle .cantidad button{
    height: 30px;
    width: 30px;
    margin: 2%;
}
.detalle .compra .confirmar{
    height: 30px;
    width: 200px;
    margin: auto;
    margin-top: 20px;
    background-color: var(--azul);
    border: none;
    color: azure;
    

}
/* OTROS PRODUCTOS*/
.detalle .recomendado .glider-contain .glider .menucarucel{ 
    height: 95%;
    margin: 1%;
    width: 80vw;
    border: 1px solid var(--azul);
    background-color: white;


}
.detalle .recomendado{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    height: 350px;
    
}
.detalle .productohometablet{
    display: none;
}
.detalle .productohomedestock{
    display: none;;
}


.detalle .menucarucel .imgproducto{
    display: flex;
    justify-content: center;
    height: 60%;
    padding: 3%;
    margin-bottom: 5%;
    


}
.detalle .recomendado .imgproducto img{
    box-shadow: -2px 4px 29px 0px rgb(156, 155, 156);
    width: 210px;
    
}
.detalle .recomendado div .descripcion{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.detalle div .menucarucel button{
    width: 85%;
    background-color: var(--azul);
    color: white;
    border: 0;
    height: 50px;
    margin-top: 5%;

    
}
.detalle .puntaje{
    display: none;
    position: absolute;
    z-index: 20;
    
    width: 90vw;
    top: 100px;
    height: 400px;
    margin-left: 5vw;
    background-color: white;
    justify-content: center;
    border: 1px rgb(166, 108, 241) solid;
}

.detalle div .menucarucel button i{
    margin: 5px;
    font-size: 20px;

}
.detalle .puntaje input{
    display: none;
}

.detalle .puntaje form{
    height: 100%;
    width: 900%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.detalle .puntaje .estrellas{
    
    display: table-row;
    
    text-align: center;
    margin: 0%;
    margin-bottom: 20px;
    
}

.detalle .puntaje label{
    cursor: pointer;
    float: right;
    font-size: 25px;
    
    transition: all 0,5s ease;
}

.detalle .puntaje input:checked ~ label,
.detalle .puntaje input:hover ~ label {
    color: rgb(244, 248, 31);
}
.detalle .puntaje .comentario{
    display: block;
    width: 90%;
    height: 50px;
}
.detalle .puntuado {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.detalle .puntuado li{
    list-style:none;
    font-size: 25px;
    
}
.detalle .puntaje h2{
   font-family: var(--tipografia-principal);
   font-size: 15px;
   font-size: 20px;
    text-align: center;
    width: 100%;
    background-color: rgba(4, 191, 157, 0.55);
    height: 20%;
    padding-top: 5%;
    margin-bottom: 5%;

}
.detalle .oscuro{
    display: none;
    z-index: 10;
    height: 100vh;
    width: 100vw;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    right: 0%;
    bottom: 0;
    opacity: 0.45;
}
.detalle .activado{
    color: chartreuse;
}
.detalle .desactivado{
    color: black;
}


 @media(min-width:361px) {
    .detalle .imgproductodetalle img{
        width: 60vw;
        height: 60vw;
     }
     .detalle .detalleproducto .imgextra img{
        width: 60px;
        height: 60px;
        
     }
     .detalle .productohometablet{
        display: block;
    }
    .detalle .puntaje{
        
        width: 70vw;
        top: 200px;
        height: 400px;
        margin-left: 15vw;
        background-color: white;
    
    }
    .detalle .puntaje h2{
        
        font-size: 20px;
     }
}
@media(min-width:769px) {
    .detalle .productohomedestock{
        display: block;
    }
    .detalle .ordendes{
        display: flex;
    }
    .detalle .imgextra{
        order: -1;
        flex-direction: column;
        justify-content: flex-start;
        margin-left:5% ;
        margin-right: 1%;
        
        
    }
    
    .detalle .imgproductodetalle{
        flex-grow: 0.5;
    }
    .detalle .detalleproducto .imgproductodetalle img{
        width: 35vw;
        height: 35vw;
        
    } 
    .detalle .detalleproducto .imgextra img{
        margin-bottom: 10%;
    }
    .contenedorDetalle{
        width: 50%;
    }
    .detalle .puntaje{
        
        width: 50vw;
        top: 200px;
        height: 400px;
        margin-left: 25vw;
        background-color: white;
    
    }
    .detalle .puntuado {
        
        justify-content: flex-start;
        
    }
    .detalle .puntuado li{
        list-style:none;
        font-size: 40px;
        
    }
    .detalle .puntaje .comentario{
        
        height: 100px;
        margin-bottom: 10%;
    }
    .detalle .puntaje h2{
        
        font-size: 200%;
     }
     .detalle .puntaje label{
        
        font-size: 45px;
        
        
    }
    
}
