footer{
    position: absolute;
    margin-top: 20px;
    width: 100%;
    background-color: #999999;
    font-family: var(--tipografia-principal);
    bottom: 0%;
}

footer .bottom{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

footer  ul li{
    list-style: none;
    display: flex;
    justify-content: left;
}

footer ul a{
    text-decoration: none;
}

footer .cont ul{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
footer .cat{
    height:40%
}

footer ul .menu{
    margin:0%;
    padding: 0%;
}

h4{
    font-family: var(--tipografia-principal)
}

footer .ubi{
    display: none;
}

@media (min-width:426px){
    footer{
        position: absolute;
        margin-top: 20px;
        width: 100%;
        background-color: #999999;
        font-family: var(--tipografia-principal);
        bottom: 0%;
    }
    
    footer .bottom{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    footer  ul li{
        list-style: none;
        display: flex;
        justify-content: left;
    }
    
    footer ul a{
        text-decoration: none;
    }
    
    footer .cont ul{
        width: 70%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    
    }
    footer .cat{
        height:40%
    }
    
    footer ul .menu{
        margin:0%;
        padding: 0%;
    }
    
    h4{
        font-family: 'Titan One', cursive;
    }

    footer .ubi{
        display: flex;
        flex-direction: column;
    }
    footer .ubi .mapa{
        display: block;
        width: 80%;
        height: 80%;
    }
    footer .mobile{
        display: flex;
        flex-direction: column;

    }

}

@media(min-width: 1024px){
    footer{
        position: absolute;
        margin-top: 20px;
        width: 100%;
        background-color: #999999;
        font-family: var(--tipografia-principal);
        bottom: 0;
    }
    
    footer .bottom{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    footer  ul li{
        list-style: none;
        display: flex;
        justify-content: left;
    }
    
    footer ul a{
        text-decoration: none;
    }
    
    footer .cont ul{
        width: 70%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    
    }
    footer .cat{
        height:40%
    }
    
    footer ul .menu{
        margin:0%;
        padding: 0%;
    }
    
    h4{
        font-family: var(--titulo)
    }

    footer .ubi .mapa{
        width: 80%;
        height: 80%;
    }

    footer .mobile{
        width: 66%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

}