

 /* imag<en grande del principio*/
 .mainhome .imageng{
    display: flex;
    justify-content: center;
   
    
 }

.mainhome .imageng{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    background-color: #dfe0ffa8;
    flex-direction: column;
    align-items: center;
}
    

.mainhome .imageng img{
    
    justify-content: center;
    width: 90%    ;
    height: 40vw;
}
.bolitas li {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #c3c3c3;
    margin-top: 60px;
    cursor: pointer;
}
.bolitas .seleccion{
    background-color: black;
    border:solid 2px var(--azul) ;
    width: 17px;
    height: 17px;
}

/*menu de animales*/
.home .mainhome .menuanimal{
    padding-top: 10%;
    display: flex;
    justify-content: space-evenly;
    background-color: #dfe0ffa8;

}
.home .mainhome .menuanimal a img{
    width: 23vw;
    height: 23vw;
    border-radius: 100%;
}
.home .mainhome .menuanimal .extramenuanimal{
    display: none;
}
/*contenido de venta*/

/*1-seleccion de oferta y novedad*/
.home .homeventa .menuseleccion{
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
    margin-top: 5%;
}
.home .homeventa .menuseleccion .seleccionado{
    color:var(--azul);
    border-bottom: 2px solid var(--azul);
}

/* 2-productos*/
.home .homeventa .homearticulos article{
    height: 95%;
    margin: 1%;
    width: 80vw;
    border: 1px solid var(--azul);
    background-color: white;


}
.home .homearticulos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1%;
    height: 450px;
    
}
.home .productohometablet{
    display: none;
}
.home .productohomedestock{
    display: none;;
}


.home article .imgproducto{
    display: flex;
    justify-content: center;
    height: 60%;
    padding: 3%;
    margin-bottom: 5%;
    


}
.home .homeventa .homearticulos .imgproducto img{
    box-shadow: -2px 4px 29px 0px rgb(156, 155, 156);
    width: 210px;
    
}
.home .homearticulos article .descripcion{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.home article div button{
    width: 85%;
    background-color: var(--azul);
    color: white;
    border: 0;
    height: 50px;
    margin-top: 5%;

    
}

.home article div button i{
    margin: 5px;
    font-size: 20px;

}

.home .homeventa .homearticulos .moverflecha{

    display: none;
}
.home article .descripcion .nombreproduc{
    color: grey;
    
    text-align: center;
}
.home article .descripcion .precioproduc{
    font-size: 2em;
}

/*seleccion por marca*/
.home .mainhome h3{
    margin: 7%;
}
.home .marcas{
    background-color: #dfe0ffa8;
    border-top: var(--azul) solid 1px;
    
}
.home .marcas article{
    margin: 2%;
    display: flex;
    justify-content: center;
}
.home .marcas article div{
    margin: 3%;
    height: 15vw;
}
.home .marcas article div img{
   
    height: 100%;
    width: 100%;
    
}
.home .marcas .imgproducto{
    padding: 0%;
}

/*vista tablet*/
@media(min-width:441px) {

    .home .mainhome .menuanimal .extramenuanimal{
        display: block;
    }
    .home .homeventa .homearticulos .imgproducto img{
        
        width: 190px;
        
    }
    .home .productohometablet{
        display: block;
    }

    .home .homearticulos{
        justify-content: center;
        height: 450px;
    }
    .home .homeventa .homearticulos article{
        height: 85%;
    }
    .home .homeventa .homearticulos .moverflecha{
        align-items: center;
        display: flex;   
    }
    .home .homeventa .homearticulos .moverflecha img{
        width: 20px;
        height: 100px;
        
    }         
}





@media(min-width:769px) {
    .home .productohomedestock{
        display: block;
    }
    .home .mainhome .menuanimal a img{
        width: 10vw;
        height: 10vw;
        border-radius: 100%;
    }
    .home .mainhome .menuanimal{
        padding: 3% 10%;
    
    }
    .home .mainhome .imageng img{
        height: 50vh;
    }
    .home article .descripcion .precioproduc{
        font-size: 2em;
    }
    .home .homeventa .menuseleccion{
       
        margin: 5% 13%;
        font-size: 1.5em;
    }
    
    .home .homeventa .homearticulos{
        width: 90vw;
        margin: auto;
    }
    
    .home article div button{
        width: 80%;
        
    }
    .home .mainhome .imageng img {
        justify-content: center;
        width: 70%;
        height: 25vw;
    }

}