.informacion main{
    margin: 0 7%;
}
.informacion main h1{
    font-family: var(--titulo);
    font-size: 50px;
    margin-left: 2%;
}
.informacion main p{
    font-family: var(--tipografia-principal);
    font-size: 20px;
    margin: 0 02% 5% 2%;
}