.login {
    background-image: url('../img/imghome/perros-corriendo-en-el-agua.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    align-items: center;
}

.login .todo {
    font-family: var(--tipografia-principal);
    display: flex;
    width: 85vw;
    height: 70vh;
    background-color: aliceblue;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
    margin-bottom: 0vh;
    box-shadow: -2px 4px 29px 0px rgb(138, 138, 138);
    position: relative;
    border-top-right-radius: 10%;
    border-top-left-radius: 10%;
    z-index: 20;
    
    
}

.login .todo h3 {
    font-family: var(--titulo);
    font-weight: 300;
    margin: 10%;
}

.login .inicio-de-sesion {
    width: 75%;
}

.login .sector-email h3 {
    font-size: large;
    margin-bottom: 2%;
}

.login .type-user {
    font-family: var(--tipografia-principal);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 20px;
    width: 100%;
    box-shadow: 5px 5px 19px 0px #187498ba;
    margin-block: 3%;
    padding: 20px;
    border: none;
}

.login main small {
    margin-top: 5px;
    margin-bottom: 5px;
    color: var(--rojo);
}

.login .sector-pass h3 {
    font-size: large;
    margin-bottom: -2%;
}

.login .type-pass {
    font-family: var(--tipografia-principal);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 20px;
    width: 100%;
    box-shadow: 5px 5px 19px 0px #187498ba;
    margin-block: 3%;
    padding: 20px;
    border: none;
}

.login .linkeados {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.login .lost-pass {
    font-size: 75%;
}

.login .init {
    background-color: var(--azul);
    padding: 5px;
    box-sizing: border-box;
    box-shadow: 5px 5px 19px 0px #187498ba;
    margin-bottom: -1%;
    margin-top: 5%;
    color: white;
    border: none;

}

.login .create-user {
    font-size: 80%;
    padding-bottom: 10px;
}
.login .oreja1{
   
    /*position: relative;
    top: 40vh;
    
    width: 150px; 
    height: 150px; 
    border: 2px solid #555; 
    background: #5cb85c;
    background: aliceblue;
    -webkit-clip-path: ellipse(32% 97% at 51% 97%);
    clip-path: ellipse(32% 97% at 51% 97%);*/

}
.login .oreja2{
   /* position: relative;
    top: 20vh;
    left: 26vh;
    width: 150px; 
    height: 150px; 
    border: 2px solid #555; 
    background: #5cb85c;
    background: aliceblue;
    -webkit-clip-path: ellipse(32% 97% at 51% 97%);
clip-path: ellipse(32% 97% at 51% 97%);*/

    
}

/*Movil*/
@media (max-width: 767.98px) {
    .login .inicio-de-sesion {
        width: 75%;
    }

    .login .init {
        width: 60%;
        margin-inline: 20%;
    }
    .login .todo {
        width: 80vw;
        height: 700px;
        margin-top: 10vh;
    
    }
}

/*Fin Movil*/

/*Tablet*/
@media (min-width: 767.99px) and (max-width: 1023.98px) {
    .login .inicio-de-sesion {
        width: 60%;
    }

    .login .init {
        width: 60%;
        margin-inline: 20%;
    }
}

/*Fin Tablet*/

/*Escritorio*/
@media (min-width: 1024px) {
    .login .inicio-de-sesion {
        width: 50%;
    }

    .login .init {
        width: 50%;
        margin-inline: 25%;
    }
    .login .todo {
        width: 50vw;
        height: 650px;
        margin-top: 10vh;
        margin-bottom: 20vh;
        border-radius: 10%;
    
    }
}

/*Fin escritorio*/