.marcasmain .descripcionmarca {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    padding-inline: 2%;
    margin-bottom: 5%;
}

.marcasmain .descripcionmarca h1 {
    font-size: 10vw;
    margin-bottom: 10px;
}

.marcasmain .gran_marca {
    width: 100vw;
    display: flex;
    justify-content: center;

    background-image: url('./img/imgmarca/purrinafondo.jpg');
    background-repeat: no-repeat;
    height: 30vh;
    background-size: cover;
    align-items: center;


}

.marcasmain .gran_marca img {
    width: 50vw;

}

#marcasmain {
    margin: 0%;

}

.marcasmain .demas {}

.marcasmain .marcacontenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.marcasmain .menucarucel .imgproducto img {
    width: 40vw;
    height: 100%;
}

.marcasmain .menucarucel .imgproducto {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    height: 50%;
}

.marcasmain .menucarucel {
    background-color: aliceblue;
    margin: 10px;
    width: 90vw;
    box-shadow: 2px 4px 50px -1px rgba(0, 0, 0, 0.55);
    height: 120vw;
    border: 1px solid var(--azul);


}

.marcasmain .menucarucel .descripcion {
    display: flex;
    height: 40%;
    flex-direction: column;

    align-items: center;
    margin-top: 10px;
}

.marcasmain .menucarucel .descripcion p {
    height: 20%;
    overflow: hidden;
    text-align: center;

}

.marcasmain .menucarucel .descripcion .nombreproduc {
    font-size: 7vw;
    margin-bottom: 10px;
}

.marcasmain .menucarucel .descripcion button {
    width: 85%;
    background-color: var(--azul);
    color: white;
    border: 0;
    height: 30%;
    margin-top: 5%;

}

.nohay {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 4px 50px -1px rgba(0, 0, 0, 0.55);
    border-radius: 5%;
    background-color: rgb(230, 228, 228);
    height: 300px;
    margin: 10px;
    margin-bottom: 50px;
}

.nohay h4 {
    text-align: center;
    margin-top: 15px;

}

.nohay img {
    width: 170px;
}

@media(min-width:441px) {
    .marcasmain .menucarucel {
        width: 40vw;
        height: 80vw;

    }

    .marcasmain .menucarucel .descripcion {}

    .marcasmain .marcacontenedor {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .marcasmain .menucarucel .imgproducto img {
        width: 30vw;
        height: 90%;
    }

    .marcasmain .menucarucel .descripcion .nombreproduc {
        font-size: 5vw;
        margin-bottom: 10px;
        text-align: center;
    }

}

@media(min-width:769px) {
    .marcasmain .menucarucel {
        padding-top: 3%;
        width: 15vw;
        height: 34vw;
        margin-bottom: 3%;

    }

    .marcasmain .menucarucel .descripcion {}

    .marcasmain .marcacontenedor {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .marcasmain .menucarucel .imgproducto img {
        width: 50%;
        height: 90%;
    }

    .marcasmain .menucarucel .descripcion .nombreproduc {
        font-size: 2vw;
        margin-bottom: 10px;
        text-align: center;
    }

    .menucarucel:hover {
        border: none;
        transform: scale(1.11);
    }

    .marcasmain {
        background-image: url('../img/imgmarca/purrinafondo.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .marcasmain .gran_marca {
        height: 60vh;

    }

    .marcasmain .gran_marca img {
        width: 30vw;

    }

    .marcasmain .demas {
        width: 98vw;
        background-color: var(--fondo);
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .nohay {
        width: 90%;
        justify-content: center;
        height: 60vh;


    }
}