.contenedor-listado {
    background-color: var(--fondo);
}

.contenedor-listado .listado {
    width: 90%;
    margin: 0 auto;
}

.contenedor-listado .listado .project {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    justify-content: center;
}

.contenedor-listado h1 {
    color: black;
    text-align: center;
    margin: 0 auto;
}

.contenedor-listado h3 {
    text-transform: uppercase;
    color: black;
}

.contenedor-listado .listado .project .card {
    margin: 10px;
    border: 1px solid var(--azul);
    width: 80%;
    text-align: center;
    background-color: white;
    border-radius: 7px;
    position: relative;
    border-radius: 5%;
    box-shadow: 1px 1px 17px -2px rgb(0, 0, 0)
}

.contenedor-listado .listado .project .card:hover {
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
    transform: scale(1.1);
}

.contenedor-listado .listado .project .card img {
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-radius: 10%;
}

.contenedor-listado .listado .project .card .content{
    position: relative;
    bottom: 0;
    padding: 20px;
    opacity: 0;
    transition: all 0.5s;
}

.contenedor-listado .listado .project .card/* :hover */ .content{
    opacity: 1;
}

.contenedor-listado .listado .project .card .content .detail { 
    background-color: white;
}

.contenedor-listado .listado .project .card .content .detail .precio-descuento {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2px;
}

.contenedor-listado .listado .project .card .content .detail .precio-descuento p {
    color: rgb(27, 25, 25);
    font-size: 20px;
}

.contenedor-listado .listado .project .card .content .detail .precio-descuento p small{
    color: rgb(254, 247, 247);
    background-color: var(--rojo);
}

.contenedor-listado .listado .project .card .content a button {
    background-color: var(--verde);
    color: rgb(0, 0, 0);
    padding: 10px;
    text-transform: capitalize;
    margin-bottom: 10px;
}

/* Tablet */
@media (min-width:500px) {
    .contenedor-listado .listado .project .card {
        width: 45%;
    }

    .contenedor-listado .carrito .project .card .detail {
        text-align: center;
        flex-direction: column;
        justify-content: space-around;
    }
}

/* Desktop */
@media (min-width:769px) {
    .contenedor-listado .listado .project .card {
        width: 30%;
        max-width: 250px;
    }

    .contenedor-listado .carrito .listado {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .contenedor-listado .carrito .listado h1 {
        width: 100%;
    }

    .contenedor-listado .carrito .listado .project {
        padding-top: 20px;
    }
}

@media (min-width:1023px) {
    .contenedor-listado .listado .project .card {
        width: 20%;
    }
}