@import url("generales.css");
@import url("variables.css");
@import url("index.css");
@import url('login.css');
@import url('detalle.css');
@import url('registe.css');
@import url('carrito.css');
@import url('header.css');
@import url('footer.css');
@import url('informacion.css');

