:root{
    --tipografia-principal: 'Roboto', sans-serif;
    --titulo: 'Titan One', cursive;
/*COLORES DEL CARRITO*/
    --Color-HeaderYFooter: #e6e6e6;
    --Color-Letras: #1a1a1a;
    --Color-Producto: #d5d5d5;
    --Color-Numeros: #ededed;
    --Color-Total: #e4e4e4;
    --Color-Botones: #808080;
}