<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>

<body class="detalle">

    <%- include('./partials/header') %>
   
    <main class="detalleproducto">
        <section class="ordendes">
            <section class=" imgproductodetalle">
                <img src="/img/imghome/comida perro.webp" alt="">
            </section>
            <section class="imgextra">
                <img src="/img/imghome/comida perro.webp" alt="">
                <img src="/img/imghome/comida perro.webp" alt="">
                <img src="/img/imghome/comida perro.webp" alt="">
            </section>
            <section>
                <section class="descripciondetalle">
                    <h3>Alimento Maintenance Criadores Perro Adulto X 22 Kg</h3>

                    <h4 class="precio">$2000</h4>
                    <h4>DESCRIPCION</h4>
                    <p>Alimento pensado para perros adultos de todas las razas y tamaños a partir de
                        12 meses de edad con actividad física moderada a alta. Sus principales características
                        son: alta palatabilidad, protección de la salud del pelo y la piel, fortalecimiento de
                        huesos y articulaciones e incremento de las defensas.
                    </p>
                    <h4>IDEAL PARA:</h4>
                    <p>perros de 12 meses de edad con actividad física moderada a alta</p>



                </section>
                <section class="compra">
                    <h4>SELECCIONE CANTIDAD</h4>
                    <div class="cantidad">
                        <button>+</button>
                        <form action="" method="post">
                            <input type="text" name="" id="">

                        </form>
                        <button>-</button>
                    </div>
                    <button class="confirmar">
                        realizar pedido
                    </button>
                </section>
            </section>

        </section>


        <section class="interesar">
            <h2>TE PODRIA INTERESAR</h2>
            <article class="recomendado">


                <article class="productohome">
                    <div class="imgproducto">
                        <img src="/img/imghome/comida perro.webp" alt="">
                    </div>
                    <div class="descripcion">
                        <p class="nombreproduc">comidad perro</p>
                        <p class="precioproduc">$12000</p>
                        <button><i class="fas fa-cart-plus"></i>AÑADIR AL CARRITO</button>
                    </div>

                </article>
                <article class="productohometablet">
                    <div class="imgproducto">
                        <img src="/img/imghome/correa.jfif" alt="">
                    </div>
                    <div class="descripcion">
                        <p class="nombreproduc">hueso de goma 30cm</p>
                        <p class="precioproduc">$1600</p>
                        <button> <i class="fas fa-cart-plus"></i> AÑADIR AL CARRITO</button>
                    </div>

                </article>
                <article class="productohomedestock">
                    <div class="imgproducto">
                        <img src="/img/imghome/juguete.jfif" alt="">
                    </div>
                    <div class="descripcion">
                        <p class="nombreproduc">hueso de goma 30cm</p>
                        <p class="precioproduc">$1600</p>
                        <button><i class="fas fa-cart-plus"></i>AÑADIR AL CARRITO</button>
                    </div>

                </article>

            </article>

        </section>
    </main>

    <%- include('./partials/footer') %>
</body>

</html>