<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/0e7957413b.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="detalle">
    <main class="detalleproducto">
        <section class="ordendes">
            <section class=" imgproducto">
                <img src="/img/imghome/comida perro.webp" alt="">
            </section>
            <section class="imgextra">
                <img src="/img/imghome/comida perro.webp" alt="">
                <img src="/img/imghome/comida perro.webp" alt="">
                <img src="/img/imghome/comida perro.webp" alt="">
            </section>
            <section>
                <section class="detalle">
                    <h3>Alimento Maintenance Criadores Perro Adulto X 22 Kg</h3>
                    <p>precio: </p>
                    <p>$2000</p>
                    <p>descripcion:</p>
                    <p>Alimento pensado para perros adultos de todas las razas y tamaños a partir de 
                    12 meses de edad con actividad física moderada a alta. Sus principales características
                     son: alta palatabilidad, protección de la salud del pelo y la piel, fortalecimiento de
                      huesos y articulaciones e incremento de las defensas.
                    </p>
                    <p>para:</p>
                    <p>perros de 12 meses de edad con actividad física moderada a alta</p>
                    <p>caracteristicas:</p>
                    <p>
        
                    </p>
                </section>
                <section class="compra">
                    <h4>seleccione cantidad</h4>
                    <div class="cantidad">   
                        <button>+</button>
                        <form action="" method="post">
                            <input type="text" name="" id="">
                            
                        </form>
                        <button>-</button>
                    </div>
                    <button class="confirmar">
                        realizar pedido
                    </button>
                </section>
            </section>
            
        </section>
        
        

        <section class="interesar">
            <h2>TE PODRIA INTERESAR</h2>
            <article class="recomendado">
                <div class="imgproducto">
                    <img src="1200px-Color_negro.webp" alt="">
                </div>
                <div class="imgproducto">
                    <img src="1200px-Color_negro.webp" alt="">
                </div>
                
                
            </article>
            
        </section>
    </main>
</body>
</html>