<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body class="informacion">
    <header>
        <%- include('./partials/header') %>
    </header>
    <main>
        <h1>
            Sobre Nosotros
        </h1>
        <p>
            ¡Amamos a los animales y mascotas! Sabemos que al igual que nosotros sentís un amor único por tu mascota, parecido al de un padre hacia sus hijos. Y ellas, nuestras mascotas nos recompensan con su cariño y devoción incondicionales. ¡Por ello, merecen el mejor trato y cuidados de nosotros sus mejores amigos humanos!<br>
            Nuestra misión es conseguir que nuestra gran comunidad comparta la misma pasión que nosotros por las mascotas, fomentando el cuidado de las mismas con productos de primera calidad, probados por nosotros en nuestras propias mascotas (¡Ouch!). Queremos asegurarnos de ofrecer productos que podamos garantizar. Desde alimentos naturales, juguetes y huesos, collares y correas, arnés y pretales, camas, ropa, cuchas, bolsos e higiene; encontrarás las mejores opciones de cada categoría. Sabemos lo mucho que significa tu mascota para vos, por ello nos esforzamos en seleccionar cuidadosamente los productos que ofrecemos.
        </p>
        <h1>
            cambios y devoluciones
        </h1>
        <p>
            Envia un mail a lovingpaws@gmail.com con número de compra y motivo del cambio. En caso de falla por favor envianos una foto de la misma.Necesitamos 48hs hábiles después de que enviaste el mail para poder darte una solución.<br/>
            En caso de falla o rotura de fábrica podes optar por cambiar el producto, sin costo alguno. En caso de cambio voluntario por talle, los gastos de logística correrán por tu cuenta. En ambos casos tene en cuenta que está sujeto a stock al momento de la solicitud.<br>
            Nunca está de más aclararlo: No aseguramos los mismos por el uso indebido, desgaste natural del paso del tiempo o cualquier alteración hecha al producto.
        </p>
    </main>
    <footer>
        <%- include('./partials/footer') %>
    </footer>
</body>
</html>