<footer>
    <div class="bottom">
        <section class="cat">
            <h4>categorias</h4>
            <nav>
                <ul class="menu">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/">Productos</a></li>
                    <li><a href="/informacion">Informacion</a></li>
                    <li><a href="/informacion">¿Quienes somos?</a></li>
                </ul>
            </nav>
        </section>

        <div class="columna">
            <section class="cont">
                <h4>contactanos</h4>
                <nav>
                    <ul class="red">
                        <li><a href="www.whatsapp.com"><i class="fab fa-whatsapp-square"></i></a><p>+54(299)668-1457</p></li>
                        <li><a href="www.instagram.com"><i class="fab fa-instagram-square"></i></a><p>@loving-paws</p></li>
                        <li><a href="www.facebook.com"><i class="fa-brands fa-facebook-square"></i></a><p>Loving Paws</p></li>
                        <li><a href="4969468"><i class="fas fa-phone"></i></a><p>telefono fijo</p></li>
                        <li><a href="https://goo.gl/maps/vYdhbricnJvRKqKV7"><i class="fas fa-map-marker-alt"></i></a><p>perito moreno 280</p></li>
                    </ul>
                </nav>
            </section>
            
            <section class="ubi">
                <h4>Encontranos</h4>
                <iframe class="mapa"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.5903535595025!2d-58.4185726!3d-34.5892305!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccb1263f060af%3A0x4239fc96b758980d!2sPalermo%20Pet%20Store!5e0!3m2!1ses!2sar!4v1658757514699!5m2!1ses!2sar"
                width="60%" height="60%" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            </section>
        </div>      
    </div>  
</footer>