<header>
    <div class="form-search" style="margin-top: 10px;margin-left: 40vw;">
        <form action="/busqueda" method="get">
            <input type="text" name="search" id="search" class="barraDeBusqueda" placeholder="Busca tu producto aca ">
            <button type="submit" class="lupa"><i class="fas fa-search"></i></button>
        </form>
    </div>
    <div class="top">

        <section class="logo">
            <a href="/">
                <img src="/img/logo.png" alt="">
            </a>
        </section>

        <section class="user">
            <%if(locals.userLogin){%>

                <button id="menu"
                    style="background-color: transparent; border-radius: 10%; border: 2px solid black; box-shadow: -2px 4px 29px 0px rgb(138, 138, 138); margin-right: 1%;padding-inline: 2px;"><i
                        class="fas fa-user">
                        <%=locals.userLogin.nombre %>
                    </i></button>
                <div style="display: none;" id="menuPequeño">
                    <img src="/img/usuario/<%=locals.userLogin.foto %>" alt="">
                    <li>
                        <ul><a href="/perfil">Mi Perfil</a></ul>
                        <ul><a href="/profile">Configuración</a></ul>
                        <ul><a href="/cerrar">Cerrar Sesion</a></ul>
                    </li>
                </div>
                <%}else{%>
                    <a href="/login"><i class="far fa-user"></i></a>
                    <%} %>
                        <%if(locals.userLogin){%>
                            <a href="/carrito"><i class="fas fa-shopping-cart"></i></a>
                            <% } %>
        </section>

        <section class="burger">
            <input type="checkbox" name="burger" id="burger">
            <label for="burger"><i class="fas fa-bars"></i> </i></label>
            <nav>
                <ul class="menu">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/productos">Productos</a></li>
                    <li><a href="/informacion">informacion</a></li>
                    <% if(locals.userLogin && locals.userLogin.rol===2){%>
                        <li><a href="/admin/lista">Admin</a></li>
                        <% } %>

                </ul>
            </nav>
        </section>
    </div>
</header>