<div class="menucarucel" onclick="window.location = '/detalle/<%= id %>'">
    
    <div class="imgproducto">
        <img src="/img/imgproducto/<%= imagen %>" alt="">
    </div>
    <div class="descripcion">
        <p class="nombreproduc"><%= nombre %></p>
        <p class="precioproduc">$<%= precio %></p>
        <button ><i class="fas fa-cart-plus"></i>AÑADIR AL CARRITO</button>
    </div>
    
</div>