<article class=<%= vistaProducto %> >
    <div class="imgproducto">
        <img src="/img/imghome/comida perro.webp" alt="">
    </div>
    <div class="descripcion">
        <p class="nombreproduc">comidad perro</p>
        <p class="precioproduc">$12000</p>
        <button><i class="fas fa-cart-plus"></i>AÑADIR AL CARRITO</button>
    </div>

</article>